.iframeContainer {
  padding: 20px;
  border: 1px solid #1c6e5a;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}
.tooltip {
  position: absolute;
  width: 70px;
  height: 50px;
  padding: 10px;
  font: 14px courier-new;
  text-align: center;
  color: black;
  background:white;
  border: 0;
  border-radius: 5px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color:lightblue;
}

#footer p {
  margin: 0;
  font-size: 16px;
}
